<form action='/scrape' method='post'>
  <input type='text' name='query' placeholder='Keywords'>
  <input type='text' name='location' placeholder='Location'>
  <input type='submit' value='Submit'>
</form>
