<nav class="navbar navbar-default my-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand brand" href="/">
        <img class="icon" alt="Brand" src="logo.png">
      </a>
    </div>

  </div>
</nav>
