<nav class="navbar navbar-default my-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand brand" href="/">
        <img class="icon" alt="Brand" src="logo.png">
      </a>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div id="search" class="navbar-collapse collapse">
          <form action="search" method = "post" class="navbar-form">
            <input type="text" name="search_text" class="form-control" value="ruby">
            <button type="submit" class="btn btn-primary">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</nav>
