<table class="results-table" border="visible"
<tr>
  <th>Title</th>
  <th>Company</th>
  <th>Link</th>
  <th>Location</th>
  <th>Date</th>
  <th>Company ID</th>
  <th>Job ID</th>
  <th>Overall</th>
  <th>Culture and Values</th>
  <th>Senior Leadership</th>
  <th>Compensation and Benefits</th>
  <th>Career Opportunities</th>
  <th>Work/Life Balance</th>
<tr>
<% arr_of_arrs = results %>
<% arr_of_arrs.each do |job| %>
  <tr>
  <% job.each do |elem| %>
    <% format_link(elem) %>
    <td><%=elem%></td>
  <% end %>
<% end %>
</tr>
</table>
