<div class="row">
  <div class="col-sm-4">
    <p>
      An educational Sinatra application by <a href="http://siakaramalegos.github.io/" target="_blank">Sia Karamalegos</a>
    </p>
  </div>

  <div class="col-sm-4 text-center">
    <p>
      Follow <a href="https://github.com/siakaramalegos" target="_blank"><i class="fa fa-github"></i></a> <a href="https://www.linkedin.com/in/karamalegos" target="_blank"><i class="fa fa-linkedin"></i></a> <a href="https://twitter.com/thegreengreek" target="_blank"><i class="fa fa-twitter"></i></a>
    </p>
  </div>

  <div class="col-sm-4 text-right">
    <p>
      <a href="https://github.com/siakaramalegos/project_sinatra_dashboard" target="_blank">
        <i class="fa fa-code-fork"></i> Source Code
      </a>
    </p>
  </div>
</div>
