<!DOCTYPE html>
          <html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Job Finder</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <form class="row job-search" method="POST" action="/dashboard">
        <div class="form-group col-xs-6 col-md-3 text-center">
          <label class="" for="input_job">Jobs Search</label>
          <input type="text" id="input_job" placeholder="Search Jobs..." name="job">
        </div>

        <div class="form-group col-xs-6 col-md-3 text-center">
          <label class="" for="input_state">State</label>
          <input type="text" id="input_state" placeholder="State" name="state">
        </div>

        <div class="checkbox col-xs-6 col-md-3 text-center">
          <label>
            <input type="checkbox" name="ip"> Use Current Location
          </label>
        </div>

        <button type="submit" class="btn btn-default col-xs-6 col-md-3 text-center">Submit</button>
      </form>

      <table class="table">
        <thread>
          <tr>
            <th>Job Title</th>
            <th>Company</th>
            <th>Location</th>
            <th>Posted Date</th>
            <th>Dice URL</th>
          </tr>
        </thread>
        <tbody>
          <%= render_information(JSON.parse(session[:query])) %>
          <tr>
            <td align="center" colspan="5">End of Results.</td>
          </tr>
        </tbody>
      </table>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>