
		<div class="row">

		    <% if !@csv.nil? %>

		    	<table border = "1">
		    		<tr>
		    			<th>Company</th>
		    			<th>Job Description</th>
		    		</tr>

			    <% @csv.each do |x| %>
			    <tr>
			    	<td><%= x.company %></td>

		  	  	<td><%= x.title   %></td>

					</tr>
		   	  <% end %>

		   	<% end %>

		</div>




















