<h1>
  Welcome to Schwad's House of BlackJack!!
</h1>

<p>
  When I get around to it, there will totally be instructions here on how to play. ;)
</p>
<br>
<a href="/blackjack">Click here to play blackjack!</a>