<h1>Where do you want to search?</h1>

<form action="/home" method="post">
  <textarea type="text" name="location" placeholder="location"></textarea><br>
  <textarea type="text" name="keywords" placeholder="key words"></textarea><br>
  <textarea type="text" name="min_price" placeholder="min"></textarea>
  <textarea type="text" name="max_price" placeholder="max"></textarea><br>
  <input type="submit" value="Search!">
</form>