<div class="row">
  <div class="two-thirds column" style="margin-top: 15%">
    <h4>Welcome, please to be finding a job.</h1>
  </div>
</div>

<form action="/search" method="post">

<div class="row">
  <div class="two-thirds column">
    <label for="keywordsInput">Job title, skills, or keywords</label>
    <input class="u-full-width" type="text" name="keywords" value='<%= @keywords.join(" ") %>' id="keywordsInput">
  </div>
  <div class="one-third column">
    <label for="zipInput">Zipcode(s)</label>
    <input class="u-full-width" type="text" name="zipcodes" value='<%= @zipcodes.join(" ") %>' id="zipInput">
  </div>
</div>

<div class="row">
  <div class="two columns"><input type="submit" class="button-primary" value="Search"></div>
</div>

</form>

<% if @results %>

<div class="row">
  <table class="u-full-width">
    <thead>
      <tr>
        <% @results.headers.each do |header| %>
        <th><%= header %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @results.each do |result| %>
        <tr>
        <% result.each do |entry| %>
          <td><%= entry[1] %></td>
        <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% end %>