
<div class="container">
<h2>Welcome to Sinatra Job Central, your IP is recorded as <%= ip %></h2><br><br><br><br>

<form action="jobs" method="post">
  <div class="form-group">
    <label for="job_title">Job Title:</label>
    <input type="text" class="form-control" id="job_title" name="job_title">
  </div>
  <button type="submit" class="btn btn-default">Search</button>
</form>
</div>