<h1>Sinatra Job Hunt Central</h1>
<p>The beginnings of our great job dashboard.</p>

<form action="/search" method="post">
  <div class="form-group">
    <label>Job search term</label>
    <input type="text" class="form-control" name="job_search_term" placeholder="Ruby on Rails">
  </div>
  <div class="form-group">
    <label>Job location</label>
    <input type="text" class="form-control" name="job_location" placeholder="Singapore">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
</form>
