<form method='post'>
  <div class='form-group'>
    <input type="text" name="search">
  </div>
  <button type="submit" class='btn btn-default'>Search</button>
</form>

<h3>Look for jobs in <%= "#{location}" %>!</h3>