<!-- index.erb -->
<html>
  <head>
    <title>Sinatra Job-hunt Central</title>
  </head>
  <body>
    <h1>Welcome to Sinatra Job-hunt Central!</h1>
    <h2>Search Results</h2>
    <table class="results-table" border="visible"
      <title>This is the table</title>
    </table>
    <br>
    <form action="/search" method="post">
      <textarea type="text" name="search-field" placeholder="Your dream job awaits!"></textarea>
      <br>
        <input type="submit"  value="Search">
      </form>
