
<h1>Let's get some job info!</h1>
<form action = "/" method = "post" >
  Enter a job search term:
  <input type = "text" name = "terms" >
  Enter a job location:
  <input type = "text" name = "location" >
  <input type = "submit" value = "Submit!" >
</form>
