<h1>Welcome to the lowest scraper</h1>

<form action = '/' method = 'post' >
  
  <input type = 'text' name = 'job_title' placeholder = 'Job title'>
  <input type = 'text' name = 'location' placeholder = 'Location' >
  <input type = 'submit' name = 'submit' >

</form>