<div class="jumbotron">
<h1>Find Your Dream Job!</h1>
<div class="form-group">
  <form class="form-inline" action = "/" method = "post" >

    <input class="form-control" type = "text" name = "q" placeholder="software engineer, e.g.">
    <input class="form-control" type = "text" name = "l"  placeholder="<%= zip %>">
    <input class="btn btn-primary" type = "submit" value = "Go!" >
  </form>
</div>
</div>
