<form action="/" method="post">
  <fieldset class="form-group">
    <label for="job">Search for a job:</label>
    <input type="text" id="job" name="job">
    <label for="location">Search for a location:</label>
    <input type="text" id="location" name="location">
    <p><%= mech_object %></p>
    <fieldset class="form-group">
    <label for="type">Search by type:</label>
      <select class="form-control" id="type" name="type">
        <option value="full time">Full-time</option>
        <option value="part time">Part-time</option>
        <option value="remote">Remote</option>
      </select>
    </fieldset>

    <input type="submit" value="Search!" class="btn btn-primary">
  </fieldset>
</form>