
<div class="index-bg">

  <div class="container">

    <form action="search" method="post">
      <div class="form-group">
        <input class="form-control input-lg search-bar" type="text" name="key" placeholder="Input the key words here! Mother Fucker">
      </div>
      <button type="submit" class="btn btn-primary btn-lg search-btn">Search</button>
    </form>

  </div> <!-- /container -->

</div>
