<!-- ./index.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Job Scraper</title>
  <link rel="stylesheet" type="text/css" href="/views.css">
</head>
<body>
  <div class = "container">
    <h1>Welcome to Sinatra - Web Scraper!</h1>
    <p>
      <h2>Enter your search terms</h2>
      <form action = "/search" method = "post">
        <!-- <input type = "submit" value = "I bet this much"> -->
        <p><input name = "search_terms"> Search word</p>
        <p><input name = "location"> Location </p>
        <p><input name = "radius"> Radius</p>
        <input type = "submit" value = "Search">
      </form>
    </p>
  </div>
</body>
</html>