<h1 style="text-align:center">
  Are you ready to scrape?!
</h1>
<hr>
<form action="/scrape" method="post">
  <div class="row" style="margin-bottom:30px">

    <div class = "col-md-3 col-md-offset-2">
      <input type="text" name="job_title" placeholder="Job title, or skills, etc" class="form-control">
    </div>

    <div class = "col-md-3 col-md-offset-1">
      <input type="text" name="location" placeholder="City, State, or Zip Code" class="form-control">
    </div>
  </div>

  <div class="row">

    <div class="col-md-2 col-md-offset-3">
      <button type="submit" class="btn btn-success btn-lg" formaction="/scrape-dice">
        Scrape Dice &raquo;
      </button>
    </div>

    <div class="col-md-1">
      <h4>OR</h4>
    </div>

    <div class="col-md-2">
      <button type="submit" class="btn btn-success btn-lg" formaction="/scrape-indeed">
        Scrape Indeed &raquo;
      </button>
    </div>

  </div>
</form>