<!doctype html>
<html>
  <head>
    <title>
      Job Search
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <form action='search' method='post' class='form-group'>
      <input class='form-control input-lg search-bar' type='text' name='job' placeholder='What would you like to search for?'>
      <input class='form-control input-lg search-bar' type='text' name='location' placeholder='Where would you like to search?'>
      <button type='submit' class='btn btn-default'>Search</button>
    </form>

  </body>

</html>