<div class="jumbotron">
<div calss= "container">
<h1>Welcome</h1>
</div>
</div>




<h2>Search</h2>

<form action= '/show_job' method= 'post' >
  <input type="text" name="job" placeholder="Job Title">
  <br>
  <input type ="text" name ="location" placeholder="Location">
  <br>
  <input type = "submit" value="search">
</form>