<h1>Welcome</h1>




<h2>Search</h2>

<form action= '/show_job' method= 'post' >
  <input type="text" name="job">
  <input type ="text" name ="location">
  <input type = "submit" value="search">
</form>