<h1>Job Central!</h1>
<form action = "" method = "post" >
  <input type = "text" name = "query" placeholder="query"><br>
  <!--  <input type = "text" name = "location" placeholder="location"> -->
      <input type = "submit" value = "Submit!" >
</form>
