<form action = "scraper" method = "post">
  Keyword:
  <input type = "text" name = "keyword">
  Location:
  <input type = "test" name = "location">
  <input type = "submit" value = "Find jobs!">
</form>