<div class="well">
  <h1 class="title text-primary">Job Hunt Central</h1>
  <p class='text-muted'>A tool to search jobs and look up information on the hiring company.</p>
  <hr>

  <%= partial :form %>
</div>