
<h1>Welcome to the Jobs Dashboard</h1>

<form action='/search_results' method='get'>
  Search:
  <input type='text' name='search_terms' placeholder='Search Terms'>
  <input type='text' name='location' placeholder='Location'>
  <input type='submit' value='Search'>
</form>
