<h1 class="page-header">Job Resource Main Page</h1>

<form action='/' method='get' class="form-inline">
  <div class = "form-group">
  <input type="text" name="query" placeholder="Enter your search here" class="form-control">
  <input type="text" name="location" placeholder="Enter your location" value=<%=default_location%> class="form-control">
  </div>
  <input type="submit" value="Search jobs!" class="btn btn-primary">
</form>
<br>

<!-- display last scrape results -->
<table class="table table-striped">
  <tr>
    <th>Job Title</th>
    <th>Company</th>
    <th>Location</th>
    <th>Date</th>
  </tr>
<%input.each do |row|%>
  <%url = row[-1]%>
  <tr><%row[0..3].each_with_index do |cell, index| %>
    <%if index == 0%>
      <td><a href=<%=url%>><%=cell%></a></td>
    <%else%>
      <td><%=cell%></td>
    <%end%>
  <%end%></tr> 
<%end%>
</table>

