<h1>Local Job Hunt</h1>

<form action='/' method='post'>
  <input type='text' name="search_term" placeholder='Search Jobs' autofocus>
  <input type='submit' value='Submit'>
</form>

<% if !results.nil? %>
  <h2>Jobs scraped from Dice.com</h2>
  <%= erb :"table_partial", :layout => false, :locals => { :results => results } %>
<% end %>
