<h1>Find Your Dream Job!</h1>
<form action = "/" method = "post" >
  <input type = "text" name = "q" placeholder="software engineer, e.g.">
  <input type = "text" name = "l" placeholder="Boise, ID, e.g.">
  <input type = "submit" value = "Go!" >
</form>