<h1>Sinatra Job Hunt Central</h1>
<p>The beginnings of our great job dashboard.</p>

<form action="/search" method="post">
  <div class="form-group">
    <label for="keyword">Job search term</label>
    <input type="text" class="form-control" id="keyword" placeholder="Ruby on Rails">
  </div>
  <div class="form-group">
    <label for="location">Job location</label>
    <input type="text" class="form-control" id="location" placeholder="Singapore">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
</form>
