
<h1>Welcome to the Jobs Dashboard</h1>

<form action='/' method='get'>
  <input type='text' name='terms' placeholder='Search Terms'>
  <input type='text' name='location' placeholder='Location'
         value='<%= locals[:location] %>'>
  <input type='submit' value='Search'>
</form>

<% if locals[:terms] && locals[:location] %>

   <%= erb :search_results, locals: { jobs:     locals[:jobs],
                                      terms:    locals[:terms],
                                      location: locals[:location] } %>

<% end %>
