<form method="post" action="/results">
<h3>Search terms?</h3>
  <input type="text" name="search">
<h3>Zip code?</h3>
  <input type="text" name="zip"><br>
  <input type="submit" name="search" value="Search">
</form>