<h1 style="margin:15px, 0px">
  Are you ready to scrape?!
</h1>
<form action="/scrape" method="post">
  <div class="row" style="margin-bottom:15px">

    <div class = "col-md-4">
      <input type="text" name="job_title" placeholder="Job title, or skills, etc" class="form-control">
    </div>

    <div class = "col-md-4">
      <input type="text" name="location" placeholder="City, State, or Zip Code" class="form-control">
    </div>
  </div>

  <div class="row">

    <div class="col-md-6 col-md-offset 3" style = "text-align:center">
      <button type="submit" class="btn btn-primary btn-lg">
        Scrape Dice &raquo;
      </button>
    </div>

  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset 3" style = "text-align:center">
      <h4>OR</h4>
    </div>
  </div>

  <div class="row">

    <div class="col-md-6 col-md-offset 3" style = "text-align:center">
      <button type="submit" class="btn btn-primary btn-lg">
        Scrape Indeed &raquo;
      </button>
    </div>

  </div>
</form>