<h1>Sinatra Job Hunt Central</h1>
<p>The beginnings of our great job dashboard.</p>
<form action="/search" method="post">
  <input type="text" placeholder="Job search term">
  <input type="submit" value="Search">
</form>
