<div class="jumbotron">
  <div class="container">
    <header>
      <h1>Welcome to your job hunt command center!</h1>
      <h2>Shall we get started?</h2>
    </header>

    <form action="/start" method="get">
      <input class="btn btn-primary btn-lg" type="submit" value="Let's Go!">
    </form>
  </div>
</div>
