<!-- ./index.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Job Scraper</title>
  <link rel="stylesheet" type="text/css" href="/views.css">
</head>
<body>
  <div class = "container">
    <h1>Welcome to Sinatra - Web Scraper!</h1>
    <p>
      <h2>Enter your search terms</h2>
      <form action = "/search" method = "post">
        <!-- <input type = "submit" value = "I bet this much"> -->
        <p>Search word <input name = "search_terms"></p>
        <p>Location <input name = "location"></p>
        <p>Radius <input name = "radius"></p>
      </form>
    </p>
  </div>
</body>
</html>