<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Position</th>
      <th>Company</th>
      <th>Location</th>
      <th>Link</th>
      <th>Posted</th>
      <th>Job ID</th>
      <th>Company ID</th>
    </tr>
  </thead>
  <tbody>
    <% data[0..data.length / 2 - 1].each_with_index do |job, index| %>
      <tr>
      <th scope="row"><%=index + 1%></th>
      <% job.each do |detail| %>
        <td><%= detail %></td>
      <% end %>
      </tr>
    <% end %>  
  </tbody>
</table>