<form action="job_search" method="post">
  <label for="job">Search for a job:</label>
  <input type="text" id="job" name="job"></br>
  <label for="location">Search for a location:</label>
  <input type="text" id="location" name="location"></br>
  <label for="location">Full-time? Part-time? Contract?:</label>
  <input type="text" id="time" name="time">
  <input type="submit" value="Search!">
</form>