<div class="container">
  <% if job_results.any? %>
    <table class="table">
      <caption> Jobs in <%= user_location["city"] + ", " + user_location["region_name"]%> </caption>
      <thead>
        <tr>
          <th>Title</th>
          <th>Company</th>
          <th>Location</th>
        </tr>
      </thead>

      <tbody>
        <% job_results.each do |job| %>
          <tr>
            <td> <%= "<a href='#{job.link}'>#{job.title}</a>" %> </td>
            <td> <%= "<a href='company/#{job.company}'>#{job.company}</a>" %> </td>
            <td> <%= job.location %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <h1>Search for a job!</h1>
  <% end %>
</div>
