<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Position</th>
      <th>Company</th>
      <th>Location</th>
      <th>Link</th>
      <th>Posted</th>
      <th>Job ID</th>
      <th>Company ID</th>
    </tr>
  </thead>
  <tbody>
    <% all_data.each do |job| %>
      <tr>
      <% job.each_with_index do |detail, index| %>
        <th scope="row"><%=index + 1%></th>
        <td><%= detail %></td>
      <% end %>
      </tr>
    <% end %>  
  </tbody>
</table>