<h1>Job Search Dashboard</h1>

	<form action="/search" method="post">
	  <br>

	  <input type="text" name="job" placeholder="job">

    <input type="text" name="state" placeholder="State">

    <input type="submit" name="search" value="Search">

    <% @csv.each { |x| puts x } %>

	</form>





















