<!doctype html>
<html>
  <head>
    <title>Hello World in Sinatra: Job Search</title>
  </head>
  <body>
    <%= yield %>
    <em>The preceding view provided by the default layout</em>
  </body>
</html>