<!doctype html>
<html>
  <head>
    <title>Job Searcher</title>
<!--     <link href="../assets/favicon.ico" type="image/x-icon" rel="shortcut icon"> -->
  </head>
  <body>
    <%= yield %>
  </body>
</html>