<h1>Job Search Dashboard</h1>

	<form action="/search" method="post">
	  <br>

	  <input type="text" name="job" placeholder="job">

    <input type="text" name="location" placeholder="location">

    <input type="submit" name="search" value="Search">

    <br>

    <% CSV.foreach('data.csv') do |x| %>

    	<li><%= x %></li>

    <% end %>

	</form>


















