<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <title>Jobs Dashboard</title>
</head>
<body>
  <%= erb :nav_bar %>
  <%= yield %>
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>
