<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="/normalize.css">
		<link rel="stylesheet" href="/skeleton.css">

	<link rel="stylesheet" href="/custom.css">
</head>
<body>
<main class="main-wrapper">
	
<%= yield %>
</main>
</body>
</html>