<!DOCTYPE html>
<html>
  <head>
    <title>Job Central</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="bootstrap.css">
    <link href="style.css" rel="stylesheet">
    <script src="jquery-3.1.1.js"></script>
    <script src="bootstrap.js"></script>
  </head>

  <body>

    <%= yield %>

  </body>

</html>