<!doctype html>
<html>
    <head>
        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
        <title>The middle scraper</title>
    </head>

    <body>
        <% yield %>
    </body>
</html>
