<html>
<head>
  <title>Job Scraper</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" type="text/css" href="styles.css"> -->
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">DaScraper</a>
      </div>
    </div>
  </nav>

  <div class="jumbotron">
    <div class="container">
      <%= erb :index %>
    </div>
  </div>

  <% if results %>
    <%= yield %>
  <% end %>

  <div class="container">
    <footer>
      <p>&copy; DaScraper 2015</p>
    </footer>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>