<h2>Enter housing search parameters:</h2>
<form action="/main" method="post">
  <textarea type="text" name="min_ask" placeholder="minimum asking price"></textarea>
  <textarea type="text" name="max_ask" placeholder="maximum asking price"></textarea>
  <textarea type="text" name="keywords" placeholder="additional keywords"></textarea>
  <input type="submit" value="search">
</form>