<h2>Weather</h2>
<table class="table">
  <tr>
    <th>Day</th>
    <th>High</th>
    <th>Low</th>
    <th>Conditions</th>
  </tr>
  <%= @w.render %>
</table>

<h2>Apartment Listings</h2>
<table class="table">
  <tr>
    <th>Title</th>
    <th>Price</th>
    <th>Location</th>
    <th>URL</th>
    <th>Email</th>
  </tr>
  <%= @c.render %>
</table>