<!-- display results from search -->
<header>
  <h1>Current jobs matching your requirements:</h1>
</header>


<table class="table table-hover">

  <tr>
    <% @csv_table.headers.each do |header| %>
      <th><%= header unless header == "Job Posting URL"%></th>
    <% end %>
    <th>Job Posting URL</th>
  </tr>

  <% @csv_table.each do |row| %>
    <tr>
      <% row.each do |element| %>
        <td><%= element[1] unless element[0] == "Job Posting URL" %></td>
      <% end %>
      <% row.each do |element| %>
        <% if element[0] == "Job Posting URL" %>
          <td><a href= <%= element[1] %>>Click Here</td>
        <% end %>
      <% end %>
    </tr>
  <% end %>

</table>
