<!-- display results from search -->
<header>
  <h1>Current jobs matching your requirements:</h1>
</header>

<table class="table table-hover">
  <tr>
    <% @csv_table.headers.each do |header| %>
    <th scope="row"><%= header %></th>
    <% end %>
  </tr>
  <% @csv_table.each do |row| %>
    <tr>
      <% row.each do |element| %>
        <td><%= element[1] %></td>
      <% end %>
    </tr>
  <% end %>

</table>
