
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Results for '<%=@query%>' in or around '<%=@location%>'</div>

  <!-- Table -->
  <table class="table">
  <%=@string%>
  </table>
</div>

<br>
<a href='https://www.glassdoor.com/index.htm'>powered by <img src='https://www.glassdoor.com/static/img/api/glassdoor_logo_80.png' title='Job Search' /></a>
