<h2>
	<%= loc %>
</h2>
<% unless results.length == 0 %>
	<table class="table-striped table-bordered">
		<tr>
			<td> Result # </td>
			<td> Job Title </td>
			<td> Company Name </td>
			<td> Location </td>
			<td> Date </td>
			<td> CID </td>
			<td> Job ID </td>
			<td> </td>
		<% results.each_with_index do |result, num| %>
			<%= erb :result, locals: {res: result, num: num} %>
		<% end %>
	</table>
<% else %>
	<p> "There doesn't appear to be any jobs! Try altering your search criteria!"</p>
<% end %>