<% headers = ['title', 'company', 'link', 'location', 'date', 'dice id', 'position id'] %>

<table class='table' >
  <thead>
    <tr>
    <% headers.each do |header| %>
      <th>
        <%= header %>
      </th>
      <% end %>
    </tr>
  </thead>
  <tbody>

    <% result_array.each do |job| %>
      <tr>
      <% job.each_with_index do |stat, index| %>
        
        <% if index == 2 %>
          <td><a href="<%= stat %>">Link to Job</a></td>
        <% else %>
          <td><%= stat %><td>
        <% end %>
      <% end %>
      </tr>
    <%end%>
  </tbody>
</table>
