<table>
<% result_array.unshift(['title', 'company', 'link', 'location', 'date', 'dice id', 'position id']) %>
<% result_array.each do |job| %>
  <tr>
  <% job.each_with_index do |stat, index| %>
    <td><%= stat unless index == 2  && stat != 'link'%><td>
    <% if index == 2 && stat != 'link'%>
        <td><a href="<%= stat %>"><%= stat %></a></td>
    <% end %>
  <% end %>
  </tr>
<%end%>
</table>
