<!-- search form -->
<header>
  <h1>Welcome to your job hunt center!</h1>
  <h2>Let's get started</h2>
</header>

<form action="/search" method="post">
  URL: <br>
  <input type="text" name="url" placeholder="http://www.dice.com">
  <br>
  Keywords: <br>
  <input type="text" name="search_term" placeholder="Entry Level Ruby Developer">
  <br>
  Type: <br>
  <input type="text" name="time_type" placeholder="Full Time OR Part Time">
  <br>
  Location: <br>
  <input type="text" name="search_location" placeholder="West Hollywood, CA">
  <br>
  Radius (in miles): <br>
  <input type="text" name="radius" placeholder="5, 10, 20 or 30">
  <br>
  <br>
  <input type="submit" name="submit_search" value="Search!">
</form>
