<h1>Your Results</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Company</th>
    <th>Link</th>
    <th>Location</th>
    <th>Posting Date</th>
    <th>Dice ID</th>
    <th>Position ID</th>
  </tr>

    <% get_results(q, l).each do |result| %>
    <tr>
    <td>result</td>
    <td>Smith</td>
    <td>50</td>
  <%=


</table>

<% end %>