<h1>jobs</h1>

<p><%= job %></p>
<p><%= location %></p>

<table class="table table-striped">
<tr>
	<th>Job</th>
	<th>Location</th>
</tr>
<br>
<% data.each do |job| %> 
<tr>
	<td><%= job[1].join(" ") %></td>
	<td><%= job[3] %></td>
</tr>

<br>
<% end %>
</table>