<!DOCTYPE html>
<html>
    <h1>Glass_Dice_prj</h1>
    <form action="/search" method = "get">
        Job related: <input type="text" name="job" value="Ruby on Rails"><br>
        Place: <input type="text" name="place" value="New York"><br>
        <input type="submit" value="Submit">
    </form>
</html>