
<div class="jumbotron">
  <h1 class="text-center">Job Hunt</h1>
</div>
<h2 class="text-center">Enter your Search Criteria</h2>
<br>
<form class="form-inline text-center" action="/job_listings" method="post">
  <div class="form-group">
    <label class="sr-only" for="keywords">Job Search Keywords</label>
    <input type="text" class="form-control" name="keywords" placeholder="Job Search Keywords">
  </div>
  <div class="form-group">
    <label class="sr-only" for="location">Location</label>
    <input type="text" class="form-control" name="location"  placeholder="Location">
  </div>
  <button type="submit" class="btn btn-info">Search</button>
</form>

