.main-wrapper {
  margin: 0 auto;
}
.radio-inline {
  display: inline-block;
  margin-right: 1em;
}
.u-text-center {
  text-align: center;
}
.u-text-right {
  text-align: right;
}
.u-text-left {
  text-align: left;
}
table {
  display: block;
  max-width: 960px;
  overflow-x: scroll;
}
th {
  min-width: 200px;
}