/* Shared */

.buttons {
  text-align: center;
}

.buttons .btn {
  margin: 5px 0px;
}

.disclaimer {
  font-style: italic;
  text-align: center;
}

.disclaimer span {
  font-weight: bold;
}

/* Reviews */
.review-credit {
  font-size: 80%;
  font-style: italic;
} /* .review-credit */

.review-byline {
  float: right;
  font-style: italic;
} /* .review-byline */