body {
  background-color: #ccc;
  font-family: helvetica, Arial, sans-serif;
}
.my-navbar {
  margin-bottom: 10px;
}
.icon {
  width: 32px;
  height: 32px;
}
nav p {
  display: inline-block;
  margin-top: 12px;
  font-size: 18px;
  font-weight: bold;
}
.brand {
  margin-top: 8px;
  padding-top: 0;
}
th {
  font-weight: bold;
}