body {
  background-color: #ccc;
  font-family: helvetica, Arial, sans-serif;
}
.my-navbar {
  margin-bottom: 10px;
}
.icon {
  width: 32px;
  height: 32px;

}
nav p {
  display: inline-block;
  margin-top: 12px;
  font-size: 18px;
  font-weight: bold;
}
.brand {
  margin-top: 8px;
  padding-top: 0;
}
th {
  font-weight: bold;
}


.main-container {
  width: 100%;
}
.main-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}
.main-container .search-bar {
    display: block;
    width: 443px;
    height: 38px;
    margin: 20px auto 0 auto;
    padding: 0 9px 0 9px;
    font-size:  16px;
    line-height: 26px;
}
.main-container .button-container {
  text-align: center;
  padding: 18px 0 0 0;
}
.main-container .btn {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 0 32px;
    height: 36px;
    font-family: arial, sans-serif;
    font-size: 13px;
    font-style: bold;
    color: #fff;
    border-radius: 3px;
}