<h1 style="text-align:center"> Roshambo </h1>
<img src="http://i.imgur.com/qbHME84.png" alt = "banner" style="margin:auto; display:block"> 

<h1 style="text-align:center">What's your move bruh? </h1>
<form action="choice" method = "post" style="text-align: center">
<input type="radio" name="option" value="rock">   
  Roche
<input type="radio" name="option" value="paper"> Papier
<input type="radio" name="option" value="scissors"> Les Ciseaux

<br>

<input type = "submit" value="Play!" style="background: #ccc;
border: 0
none; cursor:pointer;
-webkit-border-radius: 5px;
border-radius:5px; padding: 10px 30px; margin-top: 10px; font-size: 18px;">


</form>