<h1>lose</h1>
<img src=<%= user_image%> height=100 style="border:solid; display:inline-block"><h1 style="display:inline-block;"> vs. </h1><img src=<%= computer_image%> height=100 style="border:solid; display:inline-block">
<h1>Your choice was <%= user%> and the computer's choice was <%= computer%>.</h1> 
<h2>You've lost the game bruh!</h2>